@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  background: $theme-color;
  color: #fff;
  outline: none;
  cursor: default;
}
p {
  line-height: 26px;
  font-weight: 300;
}
h2 {
  font-family: 'Aleo', serif;
  font-weight: 400;
  font-size: 36px;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: 'Aleo', serif;
  cursor: pointer;
}
